# Dependencies
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDE
.idea
.vscode
